@import "../src/icon/flaticon/flaticon.css";
@import "../src/fonts/thaisansneue/thaisansneue.css";


body{background-color: #F4F6F8; font-family: 'thaisans_neueregular'; font-size: 1.5em; letter-spacing: 1px;}
h1, h2, .h1, .h2{font-family: 'thaisans_neuebold';font-size: 2.5em;}
h1, h2, .h1, .h2{margin-bottom: 5px;}
h1, h2, .h1, .h2, .btn, input, button{letter-spacing: 1px;}

h3, .h3{font-family: 'thaisans_neuebold';font-size: 2.2em;letter-spacing: 0px;}

.bg-img::before{content: "";width: 50vh;height: 76vh;background-size: 100%;background-repeat: no-repeat;position: fixed;top: 0;left: 0;}
.bg-img::after{content: "";width: 40vh;height: 32.5vh;background-size: 100%;position: fixed;bottom: 0;right: 0;z-index: 0;}
.container-custom_xl{ padding: 0 5vh; }

img{width: 100%;}
input, button, button:focus, button:active{outline: none;}
strong.purple{font-family: 'thaisans_neuesemi_bold';color: #744cdc;}

.navbar{height: 80px;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);}
.btn{min-width: 135px;font-size: 1em;line-height: 1.33em;font-family: 'thaisans_neuebold';position: relative; top:0px;transition: all 0.2s ease;}
.btn:hover, .btn:active, .btn:focus{top:2px; outline: transparent!important}
.btn.btn-shadows{box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);}

.btn-outline{ border: 2px solid; font-size: 1.33em; }
.btn-outline-secondary{ color: #000; border-color: #000; }
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active{ color: #fff; border-color: #000; background-color: #000;}
.btn-light{color: #744cdc;}
.btn-light:hover{ background-color: #fff; border-color: #fff; color: #580789; }
.btn-primary{line-height: 1.75em;}
.btn-feel{background-color: #734cdb; border: none;}
.btn-feel:hover, .btn-feel:focus, .btn-feel:active {background-color: #613ebb!important; border: none; }
.btn-feel:focus:active {box-shadow: 0 0 0 0.2rem rgba(103, 58, 183, 0.35) !important;}
.btn-fb_ci{border: 2.5px solid #037cfe;background: #fff;color: #037cfe;margin-top: 30px;padding: 7px 35px 5px 30px;font-size: 1.05em;}
.btn-fb_ci:hover,.btn-fb_ci:active,.btn-fb_ci:focus{ background-color: #fff !important; color: #017dfe !important; border-color: #017dfe !important; }
.btn-fb_ci span{}
.btn-fb_ci img{ width: 1.05em; margin-right: 15px; position: relative; top: -2px; }

.modals{}
.modals-body{width: 100%;background: #fff;min-height: 300px;max-width: 1600px;border-radius: 5px;box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);}
.modals-md{width: 100vw;height: 100vh;position: fixed;top: 0;background: rgba(0, 0, 0, 0.5);display: flex;align-items: center;z-index: 1;}
.modals-md .modals-body {width: 630px;height: 630px;position: absolute;left: 0;right: 0;margin: 0 auto;padding: 45px 30px;font-size: 1.125em;}



/* box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10); */

.glyph-2x{};


.fullpage{ position: relative;height: 100vh;min-height: 767px;}
.fullpage-container{height: calc(100vh - 80px);min-height: calc(100vh - 80px);}
.fullpage-container > div {height: 100%;}

.avatar{ width: 50px; height: 50px; position: relative; } 
.avatar .thumbnail{ border-radius: 50%; } 
.avatar .thumbnail-icon{} 
.thumbnail{border-radius: 100%;} 
.thumbnail-icon{position: absolute;right: -5px;bottom: 0;width: 18px;}

.center-box{position: absolute;display: flex;width: 100%;max-width: 65vh;max-height: calc(100vh - 100px);left: 0;right: 0;margin: 0 auto;align-items: center;}

.glyph-icon.glyph-xl{ font-size: 1em;}
.glyph-icon.glyph-xxl{ font-size: 1em;}

.navbar-custom {width: 100%;position: relative;display: flex;justify-content: space-between;}
.navbar-custom .navbar-custom-brand {max-width: 135px;width: 100%;align-items: inherit;align-self: center;}
/* .navbar-custom .navbar-custom-brand.brand_xl {max-width: 17.5vh;min-width: 135px;} */
.navbar-custom-center {display: flex; justify-content: center;}
.navbar-custom-right {width: auto;position: absolute;right: 0;top: 7.5px;font-size: 0.66em;}
.navbar-custom-brand img { position: relative; top: 2px; }

.navbar-lite{box-shadow: none;background: transparent !important;box-shadow: none !important;}
.navbar-custom-lite{}
.navbar-custom-lite.navbar-custom-brand{}
.navbar-custom-lite.navbar-custom-brand img{}

.footer_bar {display:flex;height: 60px !important;width: 100%;background: #967BE9;position: fixed;bottom: 0;left: 0;}
.footer_bar-button{}



.login{width: 100%;display: inline-block;text-align: center;position: relative;top: -7vh;}
.login.center-box{}
.login .h1{ font-size: 3.5em; line-height: 1; }
.login .h3{ font-family: 'thaisans_neuesemi_bold'; letter-spacing: 0.5333px; font-size: 1.2em; display: block; }

.modal-welcome{}
.modal-welcome .profile-box{width: 220px;position: relative;}
.modal-welcome .profile-box img.profile{width: 33%;min-width: 220px;min-height: 220px;border-radius: 100%;}
.modal-welcome .profile-box img.profile-icon{width: 45px;height: 45px;right: 5px;bottom: 5px;position: absolute;}
.modal-welcome .profile-box img.profile-below{ position: absolute; left: 0; right: 0; bottom: -15px; }
.modal-welcome .modals-body .desc{line-height: 1.1em;margin: 45px 0 30px;}
.modal-welcome .modals-body{background-size: 55%;background-repeat: no-repeat;background-position: center 50%;}

.modal-signup .modals-body{ padding: 45px 60px; flex-direction: column; justify-content: space-between; display: flex; }
.modal-signup .h1{ font-size: 3.2em; line-height: 1; width: 100%; }
.modal-signup .h3{ font-size: 1.5em; width: 100%; }
.modal-signup hr{ height: 10px; border-top: 0.275em solid #724cdb; width: 3.5em; margin: 15px 0; }
.modal-signup .modals-body-logo{ max-width: 165px; min-width: 120px; width: 12.5vw; }

.wizard{background-position: bottom 15px center;background-size: 75vh;background-repeat: no-repeat;padding-top: 30px;}
.wizard-page_1{background-size: 65vh;background-position: bottom 15px center;}
.wizard-page_1-content{ position: relative; }

.wizard-page_2{ background-position: 50% 33%; background-size: 120vh; position: relative; }
.wizard-page_2-artwork{ position: absolute; right: 65px; bottom: 80px; height: 30vh; width: auto; }
.wizard-page_2-list .glyph-icon::before{ font-size: 1.125em !important; color: #663ab7 !important; padding: 5px; border-radius: 50%; }

.wizard-page_3{}
.wizard-page_3-dialouge{}
.wizard-page_3-dialouge .dialouge{width: 35%;display: flex;align-items: flex-end;position: relative;}
.wizard-page_3-dialouge .dialouge.active{width: 40%;}
.wizard-page_3-dialouge .dialouge_left{}
.wizard-page_3-dialouge .dialouge_right{}
.wizard-page_3-dialouge .dialouge_right .dialouge_container{position: absolute;width: calc(100% - 90px);height: 2.75em;top: 2.7em;font-size: 1.25em;line-height: 1.1em;margin: 0 auto;left: -5px;right: 0;}
.wizard-page_3-dialouge .dialouge_right .dialouge_container textarea{width: 100%;border: none;background: transparent;resize: none;font-family: 'thaisans_neuesemi_bold';letter-spacing: 1px;position: relative;z-index: 1;}
.wizard-page_3-dialouge .dialouge_right .dialouge_container textarea:focus, .wizard-page_3-dialouge .dialouge_right .dialouge_container textarea:active{outline: 0;}
.wizard-page_3-dialouge .dialouge_right .dialouge_container p{}
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn{font-size: 0.8em;position: relative;top: -10px;height: 30px;float: right;background: none;border: none;min-width: inherit;display: flex;align-items: center;line-height: 1em;}
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light .glyph-icon:before{ font-size: 0.9em; color: #7753e5; line-height: 0.8em; margin-left: 10px; position: relative; top: 1px; }
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light:hover{ color: #580789; }
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light:active .glyph-icon:before{ color: #7753e5; }
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light:hover{color: #7753e5;box-shadow: 0 0 0 0.2rem rgba(216,217,219,.7);background: #e4e4e6;}  
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light:active, .wizard-page_3-dialouge .wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light:focus{color: #7753e5;background: #ebeced;box-shadow: 0 0 0 0.2rem rgba(216,217,219,.7);}
.wizard-page_3-dialouge .dialouge_right .wizard-page_3-btn.btn-light {color: #7753e5;background: #ebeced;box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);}
.wizard-page_3-dialouge .dialouge_left .dialouge_container {width: calc(100% - 120px);position: absolute;top: 2.33em;margin: 0 auto;min-height: 4em;left: 15px;right: 0px;display: flex;}
.wizard-page_3-dialouge .dialouge_left .dialouge_container p.h1{color: #fff;font-size: 1.75em;line-height: 1.1em;left: 1.5em;margin: 0;letter-spacing: 1.5px;}
.wizard-page_3-dialouge .dialouge_left p.badges{color: #fff;width: 100%;margin: 0;position: absolute;top: 50%;right: 60px;font-size: 0.9em;letter-spacing: 1px;font-family: 'thaisans_neuesemi_bold';}
.wizard-page_3-artwork{ width: 50%; }
.wizard-page_3-artwork img{}

.wizard-page_4{overflow: hidden;background-position: center;}


.scroll-view{}
.scroll-view-avatar{max-width: 56px;width: 100%;height: 56px;border-radius: 20px;position: relative;display: flex;margin: 10px 15px;}
.scroll-view-content{display: flex;flex: 1;padding: 15px;justify-content: space-between;align-items: center;overflow: hidden;}
.scroll-view-content p{line-height: 1;margin: 0;font-size: 1.15em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-family: "thaisans_neuebold";float: right;}
.scroll-view-content button{font-size: 0.925em;cursor: pointer;text-align: center;justify-content: center;}
.scroll-view-content .glyph-icon::before{color: #fff;font-size: 0.8em;}


.input-primary{max-width: 750px;margin: 0px 15px;padding: 5px 30px 5px 15px;position: relative;width: 100%;border: 3px solid #744cdc;border-radius: 5px;background: #fff;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);z-index: 2;}
.input-primary-desc{position: absolute;top: calc(50% - 0.7em);left: 20px;font-size: 1.1em;opacity: 0.55;transition: all 0.166s ease;width: calc(100% - 90px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;z-index: 0;}
.input-primary-button{background: none;border: none;width: 30px;height: 30px;border-radius: 100%;position: absolute;right: 25px;top: 1em;}
.input-primary-input{display: flex;width: 100%;font-size: 1.45em;line-height: 0.75em;padding: 25px 5px 3px;border: none;position: relative;z-index: 1;background: transparent;}
.input-primary-input:focus ~ .input-primary-desc, .input-primary-input:active ~ .input-primary-desc {top: 0.5em;font-size: 0.66em;}
.input-primary-input:not([value=""]) ~ .input-primary-desc {top: 0.5em;font-size: 0.66em;}

.dropdown-primary{max-width: 750px;margin: 0px auto;margin-top: -15px !important;padding-top: 15px;padding-right: 5px;position: absolute;top: 100%;left: 0;right: 0;z-index: 1;width: 100%;border-radius: 5px;background: #fff;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);}
.dropdown-primary ul{margin: 0;padding: 15px 0 10px 0;max-height: 310px;overflow-y: scroll;overflow-x: hidden;}
.dropdown-primary li{list-style: none;margin-bottom: 5px;padding: 0 15px 0 17px;}
.dropdown-primary li button{font-family: "thaisans_neuesemi_bold";width: 100%;text-align: left;line-height: 1em;padding: 15px 15px 10px;background: #fff;border: none;border-radius: 5px;transition: all 0.3s ease;}
.dropdown-primary li button:focus, .dropdown-primary li button:hover, .dropdown-primary li.active button{ background: #734cdb; color: #fff; }
.dropdown-primary li:first-child button{/* margin-top: 15px; */}

.scroll-view{background: #fff;width: 100%;max-width: 750px;margin: 0 15px;max-height: 450px;height: 50vh;border-radius: 5px;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);border: 3px solid #673AB7;overflow-y: auto;overflow-x: hidden;}
.scroll-view ul{list-style: none;margin: 0;padding: 5px 0;}
.scroll-view li{margin: 0 15px;padding: 15px;border-bottom: 1px solid rgba(158, 158, 158, 0.39);}
.scroll-view li:last-child{ border-bottom: none; }

.mobile-view{
    text-align: center;
}
.mobile-view img{
    width: 33vh;
    min-width: 320px;
    margin-top: 5px;
    text-align: center;
}


@media (max-width: 990px) {

	.input-primary{max-width: 80vw;}
	.dropdown-primary{max-width: 80vw;}
	.scroll-view{ max-width: 80vw; }

	.wizard-page_1 {background-size: 90%; /* Force the image to its minimum width */background-position: bottom 5px center;}
	.wizard-page_2{}


}

@media (max-width: 767px) {

	.input-primary{margin: 0px;max-width: 90vw;}
	.dropdown-primary{max-width: 90vw;margin: 0 auto;}
	.scroll-view{}
	.modal-welcome .modals-body{ background-size: 50%; background-position: center 40%; }
	.modals-md .modals-body{width: 500px;padding: 30px 15px;font-size: 0.85em;}
	.modal-signup .modals-body{ padding: 45px; max-height: 500px; }

}

@media (max-width: 575px) {
	
	h1, h2, .h1, .h2{ font-size: 2.5em; line-height: 1em; margin-bottom: 5px; }

	.navbar{height: 65px;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);}
	.navbar-custom .navbar-custom-brand { max-width: 120px; }
	.navbar-custom-right button{font-size: 1.2em;padding: .25rem .5rem;min-width: 110px;position: relative;top: -2px;}

	.footer_bar{ height: 45px !important; }

	.fullpage{ position: relative;height: 100vh;min-height: inherit;}
	.fullpage-container{height: calc(100vh - 65px);min-height: inherit;font-size: 0.9em;padding-top: 0;}

	.input-primary{margin: 0px;max-width: 90vw;}
	.dropdown-primary ul{max-height: 250px;}
	.dropdown-primary li button{ padding: 10px 10px 7px; }

	.scroll-view{max-height: 40vh;max-width: 90vw;}
	.scroll-view-avatar{max-width: 40px;width: 100%;height: 40px;margin: 5px;}
	.scroll-view-content button{ position: absolute; right: 13px; top: 12.5px; background: #fff; border: none; /* z-index: 5; */ }

	.input-primary-input:focus ~ .input-primary-button, .input-primary-input:active ~ .input-primary-button{ top: 1.5em }
	.input-primary-input:not([value=""]) ~ .input-primary-button { top: 1.5em }

	.wizard{ padding-top: 1em; background-position: bottom center; }
	.wizard-page_1 {background-size: 55.5vh;min-height: inherit;}
	.wizard-page_2-artwork{ right: 0; left: 15vw; bottom: 60px; height: 21.5vh; }
	.wizard-page_2 .h1{padding: 0 15px;line-height: 0.90em;margin: 0 15px !important;}

	.login{font-size: 0.9em;margin-top: 45px;}

	.bg-img::before{width: 55vw;height: 100vh;background-position: center -10%;}
	.bg-img::after{ width: 55vw; background-repeat: no-repeat; height: 45vw; }

	.modal-welcome .modals-body{background-size: 80%;background-position: center 40%;}
	.modals-md .modals-body{width: 90vw;height: initial;padding: 30px 15px;background-size: 60%;}
	.modal-welcome .profile-box{ width: 120px; }
	.modal-welcome .profile-box img.profile{min-width: 120px;min-height: 120px;}
	.modal-welcome .modals-body .desc{ margin: 30px 0 15px; }
	.modal-welcome .profile-box img.profile-icon{ width: 30px; height: 30px; right: 0; bottom: 0; }

	.modal-signup .h1{ font-size: 2.75em; margin-top: 30px; }
	.modal-signup .h3{ font-size: 1.25em; }
	.modal-signup .modals-body{ padding: 30px; }
	.modal-signup .modals-body-logo{ position: relative; right: 15px; }
	
 }

@media (max-width: 375px) {
	h1, h2, .h1, .h2{font-size: 2.225em;}
	.scroll-view li{ padding: 10px 0px; font-size: 0.9em; }
	.modal-signup .h1{font-size: 2.66em;margin-top: 30px;}
	.modal-signup .h3{ font-size: 1.15em; }
}


@media (min-height: 1025px) {

	.navbar{ height: 100px; }
	.navbar-custom .navbar-custom-brand {max-width: 165px;}

	.footer_bar{height: 65px!important;}
	.fullpage-container{height: calc(100vh - 100px);min-height: calc(767px - 100px);}


	.wizard{padding-top: 5vh;font-size: 1.25em;}
	.wizard-page_1 {background-size: 67.5vh;background-position: bottom -5px center;}
}

@media (min-height: 1281px) {

	.wizard-page_1 {background-size: 77.5vh;background-position: bottom -30px center;font-size: 1.45em;}

}
