@import "../src/icon/flaticon/flaticon.css";
@import "../src/fonts/thaisansneue/thaisansneue.css";


body{background-color: #F4F6F8; font-family: 'thaisans_neueregular'; font-size: 1.5em; letter-spacing: 1px;}
h1,h2,.h1,.h2{font-family: 'thaisans_neuebold';font-size: 2.5em;}
h1,h2,.h1,.h2{margin-bottom: 5px;}
img{width: 100%;}
input, button{outline: none;}
strong.purple{font-family: 'thaisans_neuesemi_bold';color: #744cdc;}

.navbar{height: 80px;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);}

/* box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10); */




.fullpage{ position: relative;height: 100vh;min-height: 767px;}
.fullpage-container{ height: calc(100vh - 80px); min-height: calc(767px - 80px); }
.fullpage-container > div {height: 100%;}


.glyph-icon.glyph-xl{ font-size: 1.2em;}


.navbar-custom {width: 100%;position: relative;}
.navbar-custom .navbar-custom-brand {max-width: 135px;width: 100%;align-items: inherit;align-self: center;}
.navbar-custom-center {display: flex; justify-content: center;}
.navbar-custom-right {width: auto;position: absolute;right: 0;top: 7.5px;font-size: 0.66em;}
.navbar-custom-brand img { position: relative; top: 2px; }

.footer_bar {height: 60px !important;width: 100%;background: #967BE9;position: absolute;bottom: 0;left: 0;}

.wizard{ background-position: bottom center; background-size: 75vh; background-repeat: no-repeat; padding-top: 40px; }
.wizard-page_1{background-size: 52.5%;}

.input-primary{max-width: 800px;margin: 0px 15px;padding: 5px 30px 5px 20px;position: relative;width: 100%;border: 3px solid #744cdc;border-radius: 5px;background: #fff;box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.10);}
.input-primary-desc{position: absolute;top: calc(50% - 0.7em);left: 25px;font-size: 1.1em;opacity: 0.55;transition: all 0.166s ease;}
.input-primary-input{display: flex;width: 100%;font-size: 1.45em;line-height: 0.8em;padding: 32.5px 5px 3px;border: none;}
.input-primary-input:focus ~ .input-primary-desc, .input-primary-input:active ~ .input-primary-desc {top: 0.55em;font-size: 0.8em;}
.input-primary-input:not([value=""]) ~ .input-primary-desc {top: 0.55em;font-size: 0.8em;}
.input-primary-button{ background: none; border: none; width: 35px; height: 35px; border-radius: 100%; position: absolute; right: 25px; top: calc(50% - 20px); }

@media (max-width: 1000px) {

    .wizard-page_1 {
        background-size: 100%; /* Force the image to its minimum width */
    }

}